.Landpads-page {
    background: linear-gradient(90deg, rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("https://live.staticflickr.com/65535/51677186098_8273704670_3k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.Landpads-page .landpads {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.Landpads-page .landpads .landpad {
    width: 90%;

    border: 0.2em solid white;
    border-radius: 8px;
    
    background-color: rgba(0,0,0,0.7);

    text-align: center;
    margin: 2%;

    transition: ease-in 0.4s;
}

.Landpads-page .landpads .landpad:hover {
    background-color: rgba(0,0,0,0.9);

    border: 0.2em solid #005288;
}

.Landpads-page .landpads .landpad .landpad-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 0;
}

.Landpads-page .landpads .landpad .landpad-info p {
    padding: 1%;
}

.Landpads-page .landpads .landpad .landpad-coordinates {
    text-align: center;
}

.Landpads-page .landpads .landpad .landpad-coordinates a {
    text-decoration: none;
    color: lightblue;

    transition: ease-in 0.4s;
}

.Landpads-page .landpads .landpad .landpad-coordinates a:hover {
    color: #005288;
    text-decoration: underline;
}

.Landpads-page .landpads .landpad .landpad-landings {
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.Landpads-page .landpads .landpad .landpad-landings .landpad-landingsAttempts, .landpad-landingsSuccess {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 2%;
    width: 80%;
    text-shadow: 10px 10px 10px 10px white;
}

.Landpads-page .landpads .landpad a {
    color: white;
    text-decoration: none;

    font-size: 1.5em;

    transition: ease-in 0.4s;
}

.Landpads-page .landpads .landpad a:hover{
    color: #005288;
    text-decoration: underline;
}


.Landpads-page .landpads .landpad .landpad-img img {
    width: 100%;
    box-shadow: 0px 10px 5px 2px #005288;
}
